@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Schülerturnier:<br />
    Michael Aeschlimann<br />
    <abbr title="Phone">P:</abbr>
    079 568 64 53
</address>
<address>
    Grümpelturnier:<br />
    Flavio Muggli<br />
    <abbr title="Phone">P:</abbr>
    076 248 89 40
</address>

<address>
    <strong>Kontakt:</strong>   <a href="mailto:fceschlikon@hotmail.com">Kontaktieren Sie uns per Mail</a>
</address>