@{
    ViewBag.Title = "Grümpi";
}
<h1>Informationen Grümpeli</h1>
<hr />
<h2>Rückblick</h2>
Das Grümpelturnier 2015 war ein tolles Fussballfest. Auf den fünf Spielfeldern wurde gab es jeweils hochklassigen Fussball zu sehen. Wir gratulieren allen Gewinnern des diesjährigen Turniers und freuen uns auf eure Teilnahme im nächsten Jahr.
2o16 findet das Grümpeltunier am 24. - 26. Juni statt. Wir freuen uns, euch alle wieder begrüssen zu dürfen.<br />
Wir danken allen Teilnehmern, Zuschauern und Barbesucher für dieses tolle Fest.
<br />
<h2>Spielplan</h2>
Die Team haben sich angemeldet, die Paarungen stehen fest. Und die Festwirtschaft wird aufgebaut. Bald ist alles bereit und das diesjährige Grümpelturnier in Eschlikon kann starten.
<br />
Folgend finden Sie den Gruppen- sowie den Spielplan zum Download:
<br />
<a href="~/Content/app/doc/Spielplan_Gruempeli_FCE_2015.pdf" target="_blank">Spielplan</a><br />
<a href="~/Content/app/doc/Gruppenplan15.pdf" target="_blank">Gruppenplan</a>
<br />
<h2>Steilpass - FC Eschlikon aktuell</h2>
Laden Sie das aktuelle Heft des FC Eschlikon herunter.
<br />
<a href="~/Content/app/doc/Steilpass_2015.pdf" target="_blank">Steilpass - FC Eschlikon aktuell</a>
<br /><br />
<h2>Informationen</h2>
Herzlich willkommen am Grümpelturnier des FC Eschlion. Das legendäre Turnier feiert dieses Jahr sein vierzigjähriges Bestehen. In vier verschiedenen Kategorien kämpfen unzählige Mannschaften am Freitagabend und Samstagnachmittag auf der Herdern um jeden Ball. Die Plausch- und Firmenmannschaften starten am Freitagabend ab 18:00 Uhr. Am Samstag stehen ab 14:30 Uhr die Kategorie Nicht-Fussballer und ab 16:00 Uhr die Kategorie Sie + Er auf dem Programm.
<br /><br />
Jeweils ab 12:00 Uhr werden dann die Gewinner präsentiert.
<br /><br />
Umrahmt wird das ganze Turnier von unserem Musik Duo Alpen GmbH. Mit zeitgemässen und beinahe vergessenen Hits lassen sie die Herzen der Musikfreunde höher schlagen und erfüllen noch so gerne jeden möglichen Musikwunsch!
<br /><br />
Nach den harten und aufreibenden Partien lässt sich der Abend in der Retro-Bar gut ausklingen und auf die spannenden und hitzigen Situationen anstossen.
<br /><br />
Sei auch Du dabei und melde dich jetzt via Formular für deine Lieblingskategorie an. Natürlich darf man auch in mehreren Kategorien auflaufen ;)
<br /><br />
Anmeldeschluss ist der 17. Juni 2015.
<br /><br />
<h3>Plauschmannschaften</h3>
Ideal für Vereine und kleine Gruppierungen aus der Region. Trotz limitierter technischer Fähigkeiten wird fair um jeden Ball gekämpft und bis zum Schluss mitgefiebert. Mit maximal einem lizenzierten Spieler wird hier nicht die fussballerische Klasse sondern der Zusammenhalt in den Vordergrund gestellt. Anpfiff ist immer am Freitagabend vor dem ersten Bier nach dem wohlverdienten Feierabend um 18:00 Uhr. Die friedliche und entspannte Atmosphäre lädt dazu ein auch nach der ersten Niederlage noch lustig und gesellig zu verweilen und die entscheidenden Spiele zu geniessen.
<br /><br />
Der Spass steht hier im Vordergrund.
<br /><br />
<h3>Firmenmannschaften</h3>
Lokale und regionale Firmen sind herzlich eingeladen um die Krone zu spielen. Mit immensen finanziellen Mitteln im Hintergrund versuchen die Grossen, die Kleinen in den Schatten zu stellen. Aber mit gezielten Transfers schaffen die vermeintlich kleinen immer wieder den Sprung nach vorne. Die Anzahl lizenzierter Spieler beläuft sich hier auf drei. Gespielt wird jeweils am Freitagabend ab 18:00 Uhr bis die Beine einen nicht mehr tragen.
<br /><br />
<h3>Sie und Er</h3>
Das Pärchen steht immer im Mittelpunkt. Bei der Kategorie mit dem grössten Beliebtheitsgrad wird das Zusammenspiel zwischen Männlein und Weiblein hervorgehoben. In Mannschaften welche jeweils zur Hälfe aus Sie’s und Er’s bestehen wird zusammen Fussball gespielt. Dank der Regelauslegung lohnt sich das Tore schiessen für die Frauen doppelt. Ab 16:00 Uhr startet sie als letzte Kategorie in des Turnier und beendet es spätestens um 24:00 Uhr auf dem Podest oder mit einem kühlenden Getränk an der Seitenlinie.
<br /><br />
<h3>Nicht-Fussballer</h3>
Die Königsklasse am Grümpeli des FC Eschlikon. Jeweils während 15 Minuten zaubern die mit bis zu drei lizenzierten Spielern teilnehmenden Mannschaften um die Wette. Neben reinen Amateurmannschaften kann man beinahe profiähnliche Gebilde betrachten welche in jedem Spiel ihr Bestes geben und den Zuschauern einiges bieten. Seit vielen Jahren der Renner schlechthin. Dank der grossen Tore haben auch die besseren Mannschaften immer wieder ihre Mühe mit den Underdogs. Spannende Spiele und schön anzusehende Kombinationen gehören hier dazu.
<br /><br />
Gespielt wird immer am Samstagnachmittag ab 14:30 Uhr auf vier verschiedenen Plätzen. Durch offizielle Schiedsrichter des OFV wird die korrekte Auslegung der Regeln gewährleistet und die Professionalität gefördert.
<br /><br />
<img src="~/Content/app/img/flyerFront.jpg" />
<img src="~/Content/app/img/flyerBack.jpg" />