@{
    ViewBag.Title = "Vergangenes";
}

<h1>Vergangenes</h1>

Hier finden Sie vergangene Grümpi-Informationen inkl. Ranglisten etc.

<h2>2015</h2>

<h3>Rückblick</h3>
Das Grümpelturnier 2015 war ein tolles Fussballfest. Auf den fünf Spielfeldern wurde gab es jeweils hochklassigen Fussball zu sehen. Wir gratulieren allen Gewinnern des diesjährigen Turniers und freuen uns auf eure Teilnahme im nächsten Jahr.
2o16 findet das Grümpeltunier am 24. - 26. Juni statt. Wir freuen uns, euch alle wieder begrüssen zu dürfen.<br />
Wir danken allen Teilnehmern, Zuschauern und Barbesucher für dieses tolle Fest.
<br /><br />
Die Rangliste finden Sie @Html.ActionLink("hier", "rankinglist")
<br />
<h3>Spielplan</h3>
Folgend finden Sie den Gruppen- sowie den Spielplan von 2015 zum Download:
<br />
<a href="~/Content/app/doc/Spielplan_Gruempeli_FCE_2015.pdf" target="_blank">Spielplan</a><br />
<a href="~/Content/app/doc/Gruppenplan15.pdf" target="_blank">Gruppenplan</a>
<br />
<h3>Steilpass - FC Eschlikon 2015</h3>
Laden Sie das Heft von 2015 des FC Eschlikon herunter.
<br />
<a href="~/Content/app/doc/Steilpass_2015.pdf" target="_blank">Steilpass - FC Eschlikon 2015</a>
<br /><br />
<img src="~/Content/app/img/flyerFront.jpg" />
<img src="~/Content/app/img/flyerBack.jpg" />
