@{
    ViewBag.Title = "Rangliste";
}
<h2>@ViewBag.Title</h2>

<h3>Plauschmannschaften</h3>
<ol>
    <li>FC Barcelona</li>
    <li>Die wilden Kerle</li>
    <li>Fireballs</li>
</ol>
<br />
<h3>Nichtfussballer</h3>
<ol>
    <li>Goalgaters</li>
    <li>"d'risser"</li>
    <li>Feuerkillers</li>
    <li>Eschlikonerstürmer</li>
</ol>
<br />
<h3>Firmen</h3>
<ol>
    <li>Döner Boys</li>
    <li>Die Propers</li>
    <li>Grizzlies</li>
    <li>Special Schwudis</li>
</ol>
<br />
<h3>Sie &amp; Er</h3>
<ol>
    <li>Fisibubeler</li>
    <li>Sirnach 8370</li>
    <li>Cheaters</li>
</ol>