@{
    ViewBag.Title = "Reglement";
}

<h1>Reglement</h1>
<br />
<h2>Auszug aus dem Reglement</h2>
<br />
Die Unfallversicherung ist Sache jedes einzelnen Spielers. Für verlorene Gegenstände haftet der Ve-anstalter nicht. Der Veranstalter lehnt jede Haftung ab.
<br />
Als Spielregeln gelten grundsätzlich und sinngemäss diejenigen des SFV mit den folgenden Ausnahmen:
<br /><br />
– kein Abseits
<br />
– der Torabstoss wird von Hand oder Fuss ausgeführt
<br />
– die Rückpassregel zum Torhüter fällt weg
<br />
– es kann beliebig oft gewechselt werden
<br />
<h2>Ausrüstung</h2>
<br /><br />
– Sämtliche Spieler müssen Schienbeinschoner tragen. Diese können bei der Jury gekauft werden.
<br />
– Alle Teams müssen in einheitlichen Tenues spielen. Der Schiedsrichter ist berechtigt, von der zweit-genannten Mannschaft zu verlangen, dass diese zur besseren Unterscheidung Überzieher anzieht. Diese können bei der Jury ausgeliehen werden.
<br />
– Es sind nur Nocken- oder Noppenschuhe erlaubt. Das Tragen von Turnschuhen und Stollenschuhen ist ausdrücklich verboten.
<br />
– Das Tragen von Schmuck und anderen Gegenständen, welche die Spieler und Mitspieler gefährden, ist verboten.
<br /><br />
Bei Nichteinhalten dieser Vorschriften wird der Schiedsrichter das Spiel nicht anpfeifen. Das Spiel wird mit einer 0:3 Niederlage für das fehlbare Team gewertet.

<h2>Spieldauer</h2>
<br />
14 Minuten ohne Seitenwechsel.
<br />
Die erstgenannte Mannschaft hat Anstoss, die zweitgenannte Platzwahl.
<br />
Frauentore in allen Kategorien zählen doppelt (auch bei Penaltyschiessen).
<br />
Eigentore zählen immer einfach.
<br />
Es dürfen maximal 6 Spieler (5 Feldspieler und ein Torhüter) je Mannschaft gleichzeitig auf dem Spiel-feld sein. Fällt die Anzahl der Spieler einer Mannschaft auf weniger als 4 Spieler, wird das Spiel abge-brochen. Die fehlbare Mannschaft verliert 0:3.
<br />
Jeder Spieler kann nur in einer Mannschaft pro Kategorie mitspielen.
<br />
<h2>Spezialbestimmungen für einzelne Kategorien</h2>
<br />
Definition Nichtfussballer: Als Nichtfussballer gelten Spieler, welche keinen offiziellen Spielerpass be-sitzen. Generell gelten alle Spieler mit Jahrgang 1980 und älter sowie Spieler mit Jahrgang 2000 und jünger als Nichtfussballer
<br /><br />
– auch wenn diese schon oder noch einen Spielerpass besitzen.
<br />
<h2>Plauschmannschaften</h2>
<br />
Es ist max. 1 Fussballer je Mannschaft gleichzeitig auf dem Spielfeld erlaubt. Mindestalter: 14 Jahre
<br />
<h2>Sie + Er</h2>
<br />
Es müssen sich immer 3 Frauen und 3 Männer je Mannschaft auf dem Spielfeld befinden. Spielt eine Mannschaft mit weniger als 6 Personen, dürfen nicht weniger Frauen als Männer spielen.
<br />
<h2>Schülerturnier</h2>
<br />
–  Es wird nach den Richtlinien des SFV auf 5-m-Tore gespielt (ohne Offside, ohne Torabstoss, ohne Rückpassregel)
<br />
–  Schienbeinschoner obligatorisch 
<br />
– Spieldauer 14 Minuten ohne Seitenwechsel
<br />
–  Das detaillierte Reglement erfolgt mit dem Spielplan
<br />
– Mädchentore zählen doppelt (Eigentore ausgenommen)