
@{
    ViewBag.Title = "Schülerturnier";
}

<h1>Informationen Schülerturnier</h1>
<br />
Der FC Eschlikon führt dieses Jahr zum siebten Mal das Schülerturnier durch.
<br /><br />
Teilnahmeberechtigt sind Mädchen und Knaben im schulpflichtigen Alter (Kindergarten – 9. Klasse). Wir möchten so auch Kindern, die nicht Mitglied im Fussballverein sind, die Möglichkeit geben, einen Tag lang aktiv an einem Plausch-Turnier mitzumachen.
<br /><br />
Für Unterhaltung  sorgt der DGST Halbfinalist und DSDS Teilnehmer Naemen Meier.
<br /><br />
Anmeldeschluss ist der 17. Juni 2015
<br /><br />
Das Anmeldeformular finden Sie <a href="~/Content/app/doc/GzD_Anmeldeformular_ST_2015.pdf" target="_blank">hier.</a>