@{
    ViewBag.Title = "Fehler";
}

<h1>Error</h1>

<div class="container-fluid">
    Es ist ein Fehler bei der Registrierung passiert.
    Bitte kontaktieren Sie Mike Müller via Mail.
    mike.mueller@hotmail.com
</div>