@{
    ViewBag.Title = "Anmelden";
}

<h1>Anmeldung erfolgreich</h1>

<div class="container-fluid">
    Ihre Anmeldung wurde erfolgreich versendet. Vielen Dank für Ihre Anmeldung. <br />
    Die Anmeldung wird Ihnen per Mail bestätigt. Sobald Sie das Bestätigungsmail erhalten haben, ist Ihre Anmeldung definitiv. Das Bestätigungsmail sollten Sie in den nächsten zwei Tagen erhalten.<br />
    Bitte überweisen Sie die Anmeldegebühr in den nächsten Tagen auf folgendes Konto: <b>IBAN: CH05 8137 8000 0001 4291 3, Vermerk Grümpelturnier</b><br />
    <b>Wichtig: Unbedingt Mannschaftsname auf der Überweisung vermerken!</b><br />
    <b>Die Anmeldegebühren belaufen sich beim Grümpi auf 70.00 CHF und beim Schülerturnier auf 30.00 CHF.</b>
    <br />
    Wir wünschen Ihnen viel Spass und Glück beim Grümpi Eschlikon 2015.
</div>